@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply bg-transparent border-solid border-gray-600 border-2 rounded-md py-1 px-1 m-1;
}

button:hover {
  @apply border-white;
}

button:disabled {
  @apply border-gray-800 text-gray-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer page {
  .wins::before, .losses::before {
    content: '';
    display: inline-block;
    width: 2ch;
    height: 2ch;
    background: url('icons/wins.png');
    background-size: contain;
  }

  .losses::before {
    background: url('icons/losses.png');
    background-size: contain;
  }
}
